<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
 <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <h1>Hi! This is ws api, please subscribe)</h1>
  <button id="subs" >Subs</button>
  <button id="unsubs" >UnSubs</button>
  <div id="list"></div>
<script src="/assets/js/main.js"></script>
</body>
</html>
